.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-logo {
  margin-right: 76px;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.hero-main-page {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
  height: 600px;
  padding: 188px 0;
}

.hero-button {
  margin-top: 48px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-2x.jpg);
  }
}

.values {
  padding: 120px 0;
}

.values-icon-box {
  width: 264px;
  height: 112px;
  background: var(--light-background);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.values-icon {
  display: block;
}

.values-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0;
}

.values-item {
  width: calc((100% - 72px) / 4);
}

.values-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.values-text {
  font-weight: 400;
}

.work {
  display: block;
}

.team {
  padding: 120px 0;
}

.team-container {
  width: 100%;
}

.team-list {
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
}

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
}

.footer {
  padding: 100px 0;
}

.footer-soc-container {
  margin-left: 120px;
}

.footer-form-container {
  max-width: 453px;
  margin-left: 80px;
}
