.container {
    max-width: 768px;
}

.values-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    gap: 72px;
  }

.values-item {
    width: calc((100% - 72px) / 2);
  }
 
.values-title {
text-align: start;
 } 